
.filterGroupLabel{
    font-size: 16px;
    color: #3d5273;
}
.filterGroup{
    margin-bottom: 20px;
}
.checked{
    color: #e3002b;
}
.filterBtn{
    display: block;
    margin: 10px 0 0 30px;
}

.spinContainer{
    text-align: center;
    margin: 30px 0;
}
.errorContainer{
    color: #e3002b;
    text-align: center;
    font-size: 28px;
    margin: 30px 10px;
}
.errorContainer .errorMsg{
    font-size: 20px;
}