.profileHeader{
    position: relative;
    text-align: center;
}


.backBtn{
    position: absolute;
    top: 10px;
    font-size: 16px;
    z-index: 2;
}

.backBtn:hover{
    cursor: pointer;
    text-decoration: underline;
}

.topBtnsArea{
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    margin-bottom: 25px;
}