.profileHeader{
    position: relative;
    text-align: center;
}


.backBtn{
    position: absolute;
    top: 10px;
    font-size: 16px;
}

.backBtn:hover{
    cursor: pointer;
    text-decoration: underline;
}

.topBtnsArea{
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
}

.topBtn {
    width: 160px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.topBtn:disabled{
    color: #ffffff;
    background-color: #979797;
    cursor: default;
}