html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: auto;
	padding-top: 56px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	background-color: white;
}

.route-content {
	margin: 50px 30px 0 0;
	padding: 20px;
	width: 100%;
}

.headline {
    font-size: 28px;
    color: #7f7f7f;
	font-weight: bold;
	margin-bottom: 10px;
}

.fileContainer{
	padding: 0 !important;
	text-align: center;
}

.doubleInput{
    display: flex;
}
.doubleInput > div {
    width: 49%;
}

.doubleInput > div:first-child {
    margin-right: 2%;
}

.ant-table-thead > tr > th, 
.ant-table-tbody > tr > td{
    padding: 5px !important;
}

.ant-table-tbody > tr:nth-child(even){
    background-color: #ececec;
}

.ant-checkbox-checked .ant-checkbox-inner {
	background-color: #e3002b !important;
	border-color: #7f7f7f !important;
}

.spinContainer{
	text-align: center;
    margin: 30px 0;
}
.errorContainer{
    color: #e3002b;
    text-align: center;
    font-size: 28px;
    margin: 30px 10px;
}
.errorContainer .errorMsg{
    font-size: 20px;
}

button {
	color: #ffffff !important;
	background-color: #979797;
    width: 160px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
button.cancelBtn {
	color: #979797 !important;
	background-color: transparent;
    width: auto;
    padding: 5px 15px;
	border-radius: 0;
	border-bottom: 1px solid #979797;
}
button.saveBtn {
	color: #ffffff !important;
	background-color: #e3002b;
    width: auto;
    padding: 5px 15px;
	border-bottom: 1px solid #979797;
}

button:disabled{
    background-color: #4d4c4c;
    cursor: default;
}