html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: auto;
	padding-top: 56px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.route-content {
	margin: 50px 30px 0 0;
	padding: 20px;
	width: 100%;
}

.headline {
    font-size: 28px;
    color: #7f7f7f;
	font-weight: bold;
	margin-bottom: 10px;
}

.doubleInput{
    display: flex;
}
.doubleInput > div {
    width: 49%;
}

.doubleInput > div:first-child {
    margin-right: 2%;
}

.ant-table-thead > tr > th, 
.ant-table-tbody > tr > td{
    padding: 5px !important;
}

.ant-table-tbody > tr:nth-child(even){
    background-color: #ececec;
}

.ant-checkbox-checked .ant-checkbox-inner {
	background-color: #e3002b !important;
	border-color: #7f7f7f !important;
}