.delimeter{
    position: relative;
    height: 30px;
    width: 100%;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 30px;
}

.delimeter .statusText{
    position: absolute;
    left:50%;
    top: 14px;
    margin-left:-105px;
    width: 210px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid #e3002b;
    color: #e3002b;
    border-radius: 20px;
    padding: 0 5px;
    font-size: 18px;
    z-index: 5;
}