.topBtnsArea{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.wideBtnsArea > button{
    min-width: 300px !important;
}
.smallText{
    font-size: 14px;
}
.infoListArea{
    padding: 5px 30px;
}