.topBtnsArea{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.wideBtnsArea > button{
    min-width: 300px !important;
}
.infoListArea{
    padding: 5px 30px;
}

.selectedBtn{
    color: #ffffff !important;
	background-color: #e3002b !important;
}