.accountDetail {
    display: flex;
    margin-bottom: 20px;
}

.imageContainer {
    width: 200px;
    margin-left: 20px;
}

.image {
	width: 200px;
    height: 200px;
	position: relative;
	overflow: hidden;
}



.image img {
    width: 198px;
    height: 198px;
    object-fit: cover;
	position: relative;
    top: 1px;
    left: 1px;
}

.controls{
    text-align: right;
    min-height: 38px;
}
.controls button:not(:last-child){
    margin-right: 10px;
}